.App {
  text-align: center;
}

.icon-ac-is-on {
  color: chartreuse;
}

.icon-ac-is-off {
  color: darkred;
}

.text-label {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
  display: inline-block;
}

.vertical-middle {
  vertical-align:middle;
}

.attr-box {
  height: 30%;
}