.App {
  text-align: center;
}

.icon-ac-is-on {
  color: chartreuse;
}

.icon-ac-is-off {
  color: darkred;
}

.icon-text {
  margin-right: 10px;
}

.text-label {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
  display: inline-block;
}

.vertical-middle {
  vertical-align:middle;
}

.attr-box {
  height: 30%;
}

.detail-text-box {
  width: 20%;
  text-align: right;
  display: inline-block;
}

.detail-label-box {
  margin-right: 10px;
  width: 15%;
  text-align: left;
  display: inline-block;
}